@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap");

$color1: red;
$color2: blue;
$color3: yellow;
$color4: violet;
$font2: sans-serif;
$font3: comic; 

*{
    margin: 0;
    padding: 0;
}



.logo{
    background-color: blueviolet;
}
.call{
    height: px;
    border: 2px solid rgb(255, 255, 255);
}
.article{
    height: 400px;
    border: 2px solid rgb(0, 0, 0);
}
footer{ 
    height: 150px;
}
body{
    height:300px;
}